.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

.para{
    font-size: 2rem;
    margin-top: -3px;
}

.btn{
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.09) ;
    color: white;

}

.btn:hover{
    text-decoration: underline;
}